PORT=8000
NODE_ENV=development

MONGO_URI="mongodb+srv://samicloudarmors_db_user:hvB0ePvyM1UrmHy4@cluster0.kt7xh9s.mongodb.net/?appName=Cluster0/teamsync_db"

SESSION_SECRET="session_secret_key"
SESSION_EXPIRES_IN="1d"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8000/api/auth/google/callback

FRONTEND_ORIGIN=http://localhost:3000
FRONTEND_GOOGLE_CALLBACK_URL=http://localhost:3000/google/callback